body{
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 0.9em;

  /*styling the nav bar*/
}
a{
	/*margin: 5px;*/
	text-decoration: none;
	color: #000;
}

a:hover{
	text-decoration: underline;
}

nav .header-nav{
	display: flex;
	justify-content: flex-end;
	/*justify-content: space-between;*/
     
}

.header-nav{
	display: flex;
	align-items: center;
	padding-right: 20px;
	margin-left: 10px;
}

ul > a, ul > img{
	padding: 0 8px;
}

.header-img:hover{
	box-shadow: 0 0 10px 0;
	border-radius: 20px;
	cursor: pointer;
	background-color: grey;
}

/*Hero section*/
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5vh;
}

/*@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
*/
/*h1 {
    font-family: Product Sans;
    font-size: 5.5em;
}*/

.my-input-container {
    display: flex;
   /* flex-direction: row;*/    
    justify-content: space-between;    
    width: 600px;
    height: 38px;
    border: 1px solid gainsboro;
    border-radius: 20px;
}

.my-input-container:hover{
	box-shadow: 0 0 10px 0 gainsboro;
}
.my-input-container > input{
	flex-grow: 1;
	border: none;
	outline: none;
}

 /*styling dropdown*/
.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #000;
	color: #fff;
	font-size: 12px;
    min-width: 100px;
   justify-content: center;
    padding-left: 5px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
  display: block;
}

img:hover{
	cursor: pointer;
}

/*  styling the buttons*/
.my-button-container{
	padding-top: 53px;
}

button{
	background-color: #f8f9fa;
	border-radius: 5px;
	border: none;
	height: 36px;
    padding: 0 20px
    margin: 0 4px;
}

button:hover{
	cursor: pointer;
	box-shadow: 0 0 10px 0 gainsboro;
}

/*footer styling*/
footer{
	background-color: #f2f2f2;
	position: fixed;
	bottom: 0;
	width: 100vw;

}

.footer-wrap{
	display: flex;
	justify-content: space-between;
	height: 6vh;
    border: 1px solid grey;
}

#footer-top{
	margin-left: 30px;
	height: 0.6vh;
	/*border: 1px solid grey;*/
}

#footer-left{
	display: flex;
	justify-content: start;
	padding-left: 20px;
	align-items: center;
}

#footer-middle{
	display: flex;
	margin-right: 110px;
	justify-content: center;
	align-items: center;
}

#footer-right{
	display: flex;
	justify-content: flex-end;
	margin-right: 30px;
	align-items: center;
}

/* responsiveness*/
@media (max-width: 630px){
	#footer-nav{
		flex-direction: column;
	}

	#footer-left{
		justify-content: center;
	}

	#footer-right{
		justify-content: center;
	}

	.my-input-container{
		width: 95vw;
	}
}

@media (max-height: 522px){
	body{
		overflow-x: hidden;
	}

	section{
		margin-bottom: 20px;
	}

	footer{
		position: relative;
	}
}

@media (max-height: 570px) and (max-width: 630px){
	body{
		overflow-x: hidden;
	}

	section{
		margin-bottom: 13px;
	}

	footer{
		position: relative;
	}
}